<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" type="text/css">
    <title>Bintang Samudro</title>
</head>

<body>

    {% include "includes/navbar.html" %}

    <section id="home">
        <div class="front-page">
            <img src="{% static 'home/images/Bonlap.jpg' %}" alt="No Image">
            {% if user.is_authenticated %}
            <div class="nama">
                <h1>Hello, {{request.user}}</h1>
            </div>
            <div class="bawahnya">
                <h5>Welcome to my web blog!</h5>
            </div>
            {% else %}
            <div class="nama">
                <h1>I am Bintang Samudro</h1>
            </div>
            <div class="bawahnya">
                <h5>Please login or sign up to see your name!</h5>
            </div>
            {% endif %}
        </div>
    </section>
    <section id="profile">
        <div class="container-profile">
            <div class="box-profile">
                <div class="box-profile-inside">
                    <div class="box-left-upper-bio">
                        <div class="biodata-foto">
                            <img src="{% static 'home/images/BintangSamudro.jpg' %}" alt="No Image" width="150px">
                        </div>
                        <div class="biodata-umum">
                            <p><span style="font-weight: bold;">Nama :</span> Bintang Samudro</p>
                            <p><span style="font-weight: bold;">NPM : </span> 1906399410</p>
                            <p><span style="font-weight: bold;">Jurusan</span> Sistem Informasi 2019</p>
                            <p><span style="font-weight: bold;">Email :</span> bintang.samudro@ui.ac.id</p>
                        </div>
                    </div>
                    <div class="box-left-bottom-bio">
                        <div class="skill-bar">
                            <h2>Skills</h2>
                            <ul>
                                <li class="python">Python</li>
                                <li class="java">Java</li>
                                <li class="html">HTML</li>
                                <li class="css">CSS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-profile-inside-bottom">
                    <div class="box-right-title">
                        <h2 class="title">My Profile</h2>
                    </div>
                    <div class="underline-title">
                        <h2 class="underline">________________</h2>
                    </div>
                    <div class="paragraph">
                        <div class="second-paragraph">
                            Nama saya {{ name }} dari Fakultas Ilmu Komputer Universitas Indonesia, disini saya
                            ingin menjadi Full-stack Developer. Saya tinggal di Tambun Selatan dan saat kuliah offline,
                            saya tinggal di sebuah kost sehingga memudahkan saya untuk pergi kemana-mana. Hobi saya
                            adalah bermain futsal dan berkomunikasi</div>
                        <div class="second-paragraph">Saya adalah seorang mahasiswa yang memiliki passion dalam segala
                            hal yang berhubungan dengan teknologi, oleh karena itu saya telah memutuskan tujuan saya
                            untuk membantu banyak orang dengan menggunakan teknologi. dengan ini juga membuat saya
                            memilih jurusan
                            sistem informasi
                        </div>
                        <div class="third-paragraph">Saat ini saya menjadi bagian dari
                            DPM Fasilkom UI sebagai wakil komisi pengawas. yang bertugas membawahi BEM dan badan otonom
                            di IKM Fasilkom UI.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="background">
        <div class="container-background">
            <div class="title">
                <h1>Educational Background</h1>
            </div>
            <div class="box-educational">
                <div class="educational">
                    <div class="educational-school">
                        <div class="box-edu">
                            <div class="tingkat"><img src="{% static 'home/images/jasut.png' %}" width="100px"></div>
                            <div class="content">
                                <h3>SD JAYA SUTI ABADI</h3>
                                <h2>2007 ~ 2008
                                </h2>
                                <a href="https://dapo.dikdasmen.kemdikbud.go.id/sekolah/8AE8F65355DA1418F705"
                                    target="_blank">More Information</a>
                            </div>
                        </div>
                        <div class="box-edu">
                            <div class="tingkat"><img src="{% static 'home/images/sdlogo.png' %}" width="135px"></div>
                            <div class="content">
                                <h3>SDN SETIA DARMA 02</h3>
                                <h2>2008 ~ 2010
                                </h2>
                                <a href="https://dapo.dikdasmen.kemdikbud.go.id/sekolah/265A154A4B37077A6E8E"
                                    target="_blank">More Information</a>
                            </div>
                        </div>
                        <div class="box-edu">
                            <div class="tingkat"><img src="{% static 'home/images/sd.png' %}" width="102px"></div>
                            <div class="content">
                                <h3>SDIT AN-NADWAH</h3>
                                <h2>2010 ~ 2013
                                </h2>
                                <a href="http://yapiaannadwah.blogspot.com/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                        <div class="box-edu">
                            <div class="tingkat"><img src="{% static 'home/images/smp.png' %}" width="111px"></div>
                            <div class="content">
                                <h3>SMPN 2 TAMBUN SELATAN</h3>
                                <h2>2013 ~ 2016
                                </h2>
                                <a href="https://www.smpn2tamsel.sch.id/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                        <div class="box-edu">
                            <div class="tingkat"><img src="{% static 'home/images/sma.png' %}" width="120px"></div>
                            <div class="content">
                                <h3>SMAN 1 TAMBUN SELATAN</h3>
                                <h2>2016 ~ 2019
                                </h2>
                                <a href="https://www.smantas.sch.id/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                        <div class="box-edu">
                            <div class="tingkat"><img src="{% static 'home/images/ui.png' %}" width="109px"></div>
                            <div class="content">
                                <h3>UNIVERSITAS INDONESIA</h3>
                                <h2>2019 ~ Present
                                </h2>
                                <a href="https://www.ui.ac.id/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="fourth-page">
            <img src="{% static 'home/images/DPM.jpg' %}" alt="No Image" width="100%">
            <div class="nama">
                <h1>Utusan Angkatan 2019</h1>
            </div>
            <div class="bawahnya">
                <h5>DPM Fasilkom UI</h5>
            </div>
        </div>
        
    </section>

    {% include "includes/socialmedia.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>