<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bintang Samudro</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/signandlog.css' %}" type="text/css">

</head>

<body>
    {% include "includes/navbar.html" %}
    <div style="border-left: 55px solid rgb(255, 255, 255); border-right: 55px solid rgb(255, 255, 255); border-top: 90px solid rgb(255, 255, 255);">
        <p style="text-align: center; font-family: sans-serif; font-weight: 600; font-size: 44px; color: black; text-decoration: none;">Silahkan Login!</p>
    </div>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1"></i> &nbsp; Username</label>
                <input name="username" type="text" class="form-control" autocomplete="off" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"></i> &nbsp; Password</label>
                <input name="password" type="password" class="form-control" autocomplete="off" >
            </div>
            <input type="submit" class="btn" value="Login">
            <div class="error">
                {% for message in messages %}
                <p style="color: green;" >{{message}}</p>
                {% endfor %}
            </div>
            <p>Belum punya akun ? <span><a href="/" style="color: black;"> Sign Up</a></span></p>
        </form>
    </div>


    {% include "includes/socialmedia.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>