*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
    padding: 9%;
}

form{
    width: 100%;
}

.btn{
    background-color: #4788bd;
    color: white;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn:hover{
    background-color: rgb(34, 10, 90);
    color: #ffffff;
}

p{
    text-align: center;
}